## Python Basic Programming Exercises

### Q1: What is the output of following expression
    5 + 4 * 9 % (3 + 1) / 6 - 1

In [ ]:
5 + 36 % (3 + 1) / 6 - 1

In [ ]:
5 + 36 % 4 / 6 - 1

In [ ]:
5 + 0 / 6 - 1

In [ ]:
5 + 0.0 - 1

In [21]:
5 + 0.0 - 1

4.0

Q2: Write a program to check if a Number is Odd or Even. Take number as a input from user at runtime.

In [22]:
def even_check():
    n=int(input())
    if n%2==0:
        print(n, "is an even number")
    else:
        print(n, "is an odd number")

In [24]:
even_check()

15
15 is an odd number

In [25]:
even_check()

98987996
98987996 is an even number

Q3: Write a program to display the multiplication table by taking a number as input. 
    [Hint : Use print statement inside of a loop]

In [26]:
n=int(input())
for i in range(2,11):
    m=n*i
    print(m)

5
10
15
20
25
30
35
40
45
50

Q4: Write a program which will find all numbers between 2000 and 3200 which are divisible by 7 
    but are not a multiple of 5.
 
Note: The numbers obtained should be printed in a comma-separated sequence on a single line.

In [27]:
l1=[]
for i in range(2000,3201):
    if i%7==0 and i%5!=0:
        l1.append(i)
print(l1)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

Q5: Count the elements of each datatype inside the list and display in output
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [28]:
l1=[2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]
integer = 0
string = 0
boolean = 0
flo = 0
Non = 0
for i in l1:
    if type(i)== int:
        integer+=1
    elif type(i)==str:
        string+=1
    elif type(i)==bool:
        boolean+=1
    elif type(i)==float:
        flo+=1
    else:
        Non+=1
print('integer =', integer,'\n'
     'string =', string,'\n'
     'float =', flo,'\n'
     'boolean =', boolean,'\n'
     'none =', Non)

integer = 5
string = 4
float = 1
boolean = 1
none = 1

Q6: Add all values from the list with numeric datatypes 
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [31]:
list6=[2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [37]:
sum([i for i in list6 if type(i)== int])

16

Q7: Concat all str datatypes with hyphen as a delimiter
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [42]:
'-'.join([i for i in list6 if type(i)== str])

'Py-10-SQL-John'

Q8: Write a UDF that takes list as input and returns sum of all numbers 
    (exclude bool) and count of all str 
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 
    
Hint:
-----
def my_func:
    # your code
        
my_func(l1)
# output --> {'Sum': xxx, 'Count_of_Strs': xxx}

In [27]:
list8= [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

def myfunc8(list8):
    s=0
    c=0
    for i in list8:
        if type(i)== int or type(i)== float:
            s= s+i
        elif type(i)==str:
            c=c+1
        else:
            pass
    print('Sum:'+str(s)+' | Count_of_Strs:'+ str(c))

In [28]:
myfunc8(list8)

Sum:21.5 | Count_of_Strs:4

Q9: Get only odd numbers from the following list and store the numbers in new list
    l1 = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

    i. Use loops to get the answer
   ii. Use list comprehensions
  iii. Use lambda function with filter

### (i)

In [54]:
l1 = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

In [55]:
l2=[]
for i in l1:
    if i%2 != 0:
        l2.append(i)
print(l2)

[5, 7, 97, 77, 23, 73, 61]

### (ii)

In [59]:
l3=[i for i in l1 if i%2 != 0]
l3

[5, 7, 97, 77, 23, 73, 61]

### (iii)

In [62]:
list(filter(lambda i: (i%2 != 0),l1))

[5, 7, 97, 77, 23, 73, 61]

Q10: Write a UDF to return the descriptives [sum, count, min, mean, max] for a list of n number of input 
    numbers.

In [13]:
def descriptives(*args):
    sum_n= sum(args)
    count_n= len(args)
    min_n = min(args)
    max_n= max(args)
    return {'sum':sum_n,'count':count_n,'min':min_n,'max':max_n}

In [16]:
descriptives(15,20,100,900)

{'sum': 1035, 'count': 4, 'min': 15, 'max': 900}

Q11: Write an udf to calculate the area of different shapes

Take shape and dimensions as arguments to udf as follows : 

1. square which has side
2. rectangle which has length and width
3. circle which has radius

The shape should be a positional argument and it's dimensions are taken as kwargs

Perform proper validation for the user inputs and then calculate area.

E.g. if shape is square, ensure kwargs has "side" and if so, then you may return the area, else display appropriate error message like "Please enter 'side' for a square"

In [31]:
def area(name):
    if name== 'square':
        s=int(input('Enter the side of square:'))
        sq_area= s*s
        print('The area of Square is :', sq_area)
    elif name == 'rectangle':
        l= int(input('Enter length of the rectangle:'))
        w=int(input('Enter width of the rectangle:'))
        rect_area= l*w
        print('The area of Rectangle is :', rect_area)
    elif name== 'circle':
        r= int(input('Enter the radius of circle:'))
        pi= 3.14
        circle_area= pi*r*r
        print('The area of Circle is:',circle_area)

In [35]:
area('circle')

Enter the radius of circle:5
The area of Circle is: 78.5

In [33]:
area('rectangle')

Enter length of the rectangle:10
Enter width of the rectangle:50
The area of Rectangle is : 500

In [34]:
area('square')

Enter the side of square:6
The area of Square is : 36

Q12: Write a UDF to reconcile the values within two lists.
    l1 = ['January', 'February', 'March', 'May', 'June', 'September', 'December']
    l2 = ['January', 'February', 'April', 'June', 'October', 'December']

Hint:
-----
def func(l1, l2):
    your code here...
    
Output:
{'Matched': ['January', 'February', 'June', 'December'],
    'Only in l1': ['March', 'May', 'September'],
        'Only in l2': ['April', 'October']}

In [71]:
l1 = ['January', 'February', 'March', 'May', 'June', 'September', 'December']
l2 = ['January', 'February', 'April', 'June', 'October', 'December']
def func(l1,l2):
    l1=set(l1)
    l2=set(l2)
    output = {}
    output['Matched']= list(l1.intersection(l2))
    output['Only in l1'] = list(l1-l2)
    output['Only in l2'] = list(l2-l1)
    return output

In [72]:
func(l1,l2)

{'Matched': ['February', 'December', 'June', 'January'],
 'Only in l1': ['March', 'May', 'September'],
 'Only in l2': ['October', 'April']}

Q13: write a UDF to check if a number is prime or not.

In [112]:
def prime_check():
    n= int(input('Enter number to check:'))
    a=0
    for i in range(2,n):
        if n%i == 0:
            a +=1
        else:
            pass
    if a ==0 :
        print(n,'is prime')
    else:
        print(n,'is prime')

In [113]:
prime_check()

Enter number to check:57
57 is prime

Q14. Write a program which can compute the factorial of a given numbers. 
#   The results should be printed in a comma-separated sequence on a single line. 
# input() function can be used for getting user(console) input


#Suppose the input is supplied to the program:  8  
#Then, the output should be:  40320 
#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [9]:
n = int(input('Enter a positive number: '))
p=1
while n>=1:
    p=p*n
    n=n-1
print('Factorial of given number is',p)

Enter a positive number: 7
Factorial of given number is 5040

Q15. With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.

#Suppose the following input is supplied to the program: 8
#Then, the output should be: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}
#Hints: In case of input data being supplied to the question, it should be assumed to be a console input. Consider using dict()

In [172]:
n=int(input('Enter a number: '))
for i in range(1,n+1):
    d1={i:i*i}
    print (d1)

Enter a number: 8
{1: 1}
{2: 4}
{3: 9}
{4: 16}
{5: 25}
{6: 36}
{7: 49}
{8: 64}

Q16. Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number.
#Suppose the following input is supplied to the program: 34,67,55,33,12,98
    #Then, the output should be: ['34', '67', '55', '33', '12', '98'] ('34', '67', '55', '33', '12', '98')

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input. you may use tuple() method to convert list to tuple

In [146]:
numbers= input('Enter a sequence of comma-separated numbers')
lst= numbers.split(',')
tple= tuple(lst)
print(lst)
print(tple)

Enter a sequence of comma-separated numbers34,67,55,33,12,98
['34', '67', '55', '33', '12', '98']
('34', '67', '55', '33', '12', '98')

Q17. Write a program that accepts a comma separated sequence of words as input and 
# prints the words in a comma-separated sequence after sorting them alphabetically.

# Suppose the following input is supplied to the program: without,hello,bag,world
# Then, the output should be: bag,hello,without,world

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [6]:
words=input('Enter a sequence of comma-separated sequence of words:')
output=words.split(',')
output.sort()
print((',').join(output))

Enter a sequence of comma-separated sequence of words:without,hello,bag,world
bag, hello, without, world

Q18. Write a program that accepts a sequence of whitespace separated words 
# as input and prints the words after removing all duplicate words and sorting them alphanumerically.
# Suppose the following input is supplied to the program: hello world and practice makes perfect and hello world again
# Then, the output should be: again and hello makes perfect practice world

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.
#We use set container to remove duplicated data automatically and then use sorted() to sort the data.

In [8]:
words = input('Enter a sequence of whitespace separated words : ')
w1 = words.split(' ')
w1 = set(w1)
sorted_words = sorted(w1)
print((' ').join(sorted_words))

Enter a sequence of whitespace separated words :  hello world and practice makes perfect and hello world again
 again and hello makes perfect practice world

Q19. Write a program that accepts a sentence and calculate the number of upper case 
# letters and lower case letters.
#Suppose the following input is supplied to the program: Hello world!
#Then, the output should be: UPPER CASE 1 LOWER CASE 9

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [169]:
sentence = input('Enter any sentence : ')
sentence = list(sentence)
upper = 0
lower = 0
for i in sentence:
    if i.isupper():
        upper = upper+1   
    elif i.islower():
        lower = lower+1
    else:
        pass
print('UPPER CASE:',upper,'LOWER CASE:',lower)

Enter any sentence : Lalit Sharma
UPPER CASE: 2 LOWER CASE: 9

Q20. Write a program that takes a string and returns reversed string. i.e. if input is "abcd123" output should be "321dcba"

In [170]:
s=str(input('Enter any string: '))
output= s[::-1]
print(output)

Enter any string: lalit sharma
amrahs tilal